{{#section 'css'}}
    
{{/section}}

{{#section 'js'}}
    
{{/section}}

  <div class="container1">
            <div class="row">
                <section>
                    <div id="content">
                        <div id="content">
                            <div class="breadcrumb">
                                <a href="../">Trang Chủ</a> &nbsp;>>&nbsp;
                                <a href="#">Liên hệ</a>
                            </div>
                            <h1><b>Liên hệ với chúng tôi</b></h1>
                            <h2>ĐỊA CHỈ CỦA CHÚNG TÔI</h2>
                            <div class="contact-info">
                                <div class="content">
                                    <div class="left">
                                        <div>
                                            <h4>
                                                <span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;ĐỊA CHỈ:</span>
                                            </h4>
                                            <p>Quang Trung, Quận Gò Vấp, TP. HCM</p>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <div class="right">
                                            <div>
                                                <h4>
                                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true">&nbsp;SỐ ĐIỆN THOẠI:</span>
                                                </h4>
                                                <p>(012)3456789</p>
                                            </div>
                                        </div>
                                        <div class="left">
                                            <div>
                                                <h4>
                                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;EMAIL HỔ TRỢ:</span>
                                                </h4>
                                                <p>nguyentiendung@gmail.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form action="">
                                <div class="panel-heading">
                                    <h2><b>GỬI TIN NHẮN LIÊN HỆ</b></h2>
                                </div>
                                <div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div style="margin-bottom: 30px;">
                                                <label class="col-md-2">Người gửi:</label>
                                                <input required type="text" class="col-md-10 form-control" style="width: 500px;" value name="name">
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div style="margin-bottom: 30px;">
                                                <label class="col-md-2">Số điện thoại:</label>
                                                <input required type="text" class="col-md-10 form-control" style="width: 500px;" value name="phone">
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div style="margin-bottom: 30px;">
                                                <label class="col-md-2">Địa chỉ:</label>
                                                <input required type="text" class="col-md-10 form-control" style="width: 500px;" value name="address">
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div style="margin-bottom: 30px;">
                                                <label class="col-md-2">Email:</label>
                                                <input required type="text" class="col-md-10 form-control" style="width: 500px;" value name="address">
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div style="margin-bottom: 30px;">
                                                <div class="content">
                                                    <form action="">
                                                        <div class="form-group mb10">
                                                            <textarea name="name" class="form-control" rows="10" placeholder="Nhập yêu cầu của bạn" style="padding: 5px 5px 5px 5px;"></textarea>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="from-group">
                                    <input type="submit" class="button" value="Gửi tin nhắn" style="width: 100%; height: 40px;">
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>