#leftBox{
	margin-left:20px;
}
.rightBox-HangHoa{
	font-size: 1.7rem;
	float:right;
	width: 68%;
	border-radius: 9px 9px 9px 9px;
-moz-border-radius: 9px 9px 9px 9px;
-webkit-border-radius: 9px 9px 9px 9px;
border: 0px solid #000000;
	 -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
margin-right: 20px;
}
.row{
	margin-bottom: 50px;
}