{{#section 'css'}}
   <link rel="stylesheet" type="text/css" href="/assets/SanPhamTheoHang.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-hoa-don-hang.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-thong-tin-shop.css">
{{/section}}

{{#section 'js'}}
         <script type="text/javascript" src="/assets/thongTinChiTietSanPham.js">
    </script>
{{/section}}

        <div class="link">
           
               <a href="/dash-board"> <span>  DashBoard</span></a>
             
          Quản lí thông tin shop
           
          
        </div>
    </div>
    
    <div id="User-content">
        <div id="User-Avatar" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div id="user-image">
                <div style="margin-bottom: 80px;">
                    <img src="/assets/image/background-avatar.png">
                </div>
                 <img src="/assets/image/default-avatar.png">
                 <a href="#">
                     <span class="glyphicon glyphicon-camera" style="color: black;"></span>
                 </a>  
            </div>           
            <div id="user-type">
                <a href="#">Username</a>
            </div>   
        </div>
        <div id="User-Infor" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <form>
                <div id="Infor-Content">
                    <div id="Account-Infor">
                        THÔNG TIN TÀI KHOẢN ADMIN
                        <div>
                            <label>Username:</label>
                            <input type="text" name="usname" value="Username">
                        </div>
                        <div>
                            <label>Password:</label>
                            <input type="password" name="pass1" value="123456789">
                        </div>
                        <div>
                            <label>Confirm Password:</label>
                            <input type="password" name="pass2" value="123456789">
                        </div>
                    </div>
                    <div id="Personal-Infor">
                        THÔNG TIN CỬA HÀNG
                        <div>
                            <label>Địa Chỉ:</label>
                            <input type="text" name="address" placeholder="Address city/district/town">
                        </div>
                        <div>
                            <label>Số Điện Thoại:</label>
                            <input type="text" name="phonenumber">
                        </div>
                        <div>
                            <label>Email:</label>
                            <input type="text" name="email">
                        </div>
                        <div>
                            <label>Facebook</label>
                            <input type="text" name="personalid">
                        </div> 
                    </div>
                    <div id="button">
                            <button>
                                Cập Nhật
                            </button>
                    </div>
                </div>
            </form>
                
        </div>