{{#section 'css'}}
        <link rel="stylesheet" type="text/css" href="assets/SanPhamTheoHang.css">
    <link rel="stylesheet" type="text/css" href="assets/quan-li-hoa-don-hang.css">
    <link rel="stylesheet" type="text/css" href="assets/dash-board.css">
{{/section}}

{{#section 'js'}}
    
{{/section}}

<div class="link">
    <a href=""> <span style="border-right: 0px solid black !important;">  DashBoard</span></a>
    <div class="bg">
    <div id="dashBoard">
        <div id='qlddh'>
            <a href="dash-board/quan-li-hoa-don-hang">QUẢN LÍ ĐƠN ĐẶT HÀNG</a>
        </div>
        <div id='qlsp'>
            <a href="dash-board/quan-li-hang-hoa">QUẢN LÍ SẢN PHẨM</a>
        </div>
        <div id='qlkh'>
            <a href="dash-board/quan-li-khach-hang">QUẢN LÍ KHÁCH HÀNG</a>
        </div>
        <div  id='qlkh'>
           <a href="dash-board/quan-li-thong-tin-shop ">QUẢN LÍ THÔNG TIN CỬA HÀNG</a>
        </div>
        <div id='qlttch'>
           <a href="dash-board/quan-li-phan-hoi ">QUẢN LÍ PHẢN HỒI KHÁCH HÀNG</a>
        </div>
    </div>
    </div>
</div>