{{#section 'css'}}
        <link rel="stylesheet" type="text/css" href="assets/SanPhamTheoHang.css">
    <link rel="stylesheet" type="text/css" href="assets/quan-li-hoa-don-hang.css">
    <link rel="stylesheet" type="text/css" href="assets/dash-board.css">
{{/section}}

{{#section 'js'}}
<script type="text/javascript">
    
</script>
{{/section}}

<div class="link">
    <a href=""> <span style="border-right: 0px solid black !important;">  DashBoard</span></a>
    <div class="bg">
    <div id="dashBoard">
            <a href="dash-board/quan-li-hoa-don-hang">QUẢN LÍ ĐƠN ĐẶT HÀNG</a>
            <a href="dash-board/quan-li-hang-hoa">QUẢN LÍ SẢN PHẨM</a>
            <a href="dash-board/quan-li-khach-hang">QUẢN LÍ KHÁCH HÀNG</a>
            <a href="dash-board/quanLiNSX">QUẢN LÍ NHÀ SẢN XUẤT</a>
            <a href="dash-board/quanLiLSP">QUẢN LÍ LOẠI SẢN PHẨM</a>
           <a href="dash-board/quan-li-thong-tin-shop ">QUẢN LÍ THÔNG TIN CỬA HÀNG</a>
           <a href="dash-board/quan-li-phan-hoi ">QUẢN LÍ PHẢN HỒI KHÁCH HÀNG</a>
    </div>
    </div>
</div>