<!DOCTYPE html>
<html>

<head>
    <title>3Dshop</title>
    <link rel="icon" href="/assets/image/Shop-icon.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/duysp.css">
    <link rel="stylesheet" type="text/css" href="/assets/taiKhoan.css">
    {{{_sections.css}}}
</head>

<body>
    <div class="main-wrapper">
        <div id="header">
            <div id="logo">
                <a href="/home">
                <img src="/assets/image/logo2.png">
            </a>
            </div>
            <form action="" class="search-form" id="search_mini_form">
                <div id="search">
                    <button style="border: none;" class="button-search"></button>
                    <input type="text" value placeholder="Từ Khóa Tìm Kiếm..." id="">
                </div>
            </form>
            <div class="col-xs-6 col-md-4">
                <ul class="fs-hdmn">
                    <li>
                        <a href="/gio-hang">
                            <img class="header-right-image" src="/assets/image/giohang.jpg" alt="">
                            <span>&nbsp;Giỏ Hàng</span>
                        </a>
                    </li>
                </ul>
                <li id="taiKhoan">
                    <a href="#">
                    <img class="header-right-image" src="/assets/image/user.png" alt="">
                    <span>Tài Khoản</span>
                        </a>
                </li>
                <div class="wrapModalForm">
                    <div id="modalForm">
                        <div class="font" id="navTaiKhoan">
                            <span id="dangNhap">Đăng nhập</span>
                            <span id="dangKi">Đăng kí</span>
                            <span id="closeTaiKhoan">&times</span>
                        </div>
                        <div id="dangNhapContent">
                            <form class=" form-horizontal" data-toggle="validator" role="form">
                                <br>
                                <div class="form-group">
                                    <label for="userName" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">User Name:</label>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 ">
                                        <input type="text" class="form-control" id="userName" placeholder="Enter your user name" data-error="Vui lòng nhập tên đăng nhập" required>
                                        <p class="help-block with-errors"> </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Password:</label>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 ">
                                        <input type="password" class="form-control" id="password" placeholder="Enter your password" data-error="Vui lòng nhập password" required>
                                        <p class="help-block with-errors"> </p>
                                    </div>
                                </div>
                                <span class="col-xs-8 col-sm-8 col-md-8 col-lg-8"></span>
                                <button class="btn-success font" id="btnLogin">Login</button>
                            </form>
                        </div>
                        <div id="dangKiContent">
                            <form class=" form-horizontal" data-toggle="validator" role="form">
                                <div id="dkiLeft" class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <br>
                                    <div class="form-group">
                                        <label for="hoTen" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Họ Tên:</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                                            <input type="text" class="form-control" id="hoTen" placeholder="Nhập họ tên của bạn" data-error="Vui lòng nhập họ tên của bạn" required>
                                            <p class="help-block with-errors"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordDk" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Password:</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                                            <input type="password" class="form-control" id="passwordDk" placeholder="Nhập password của bạn" data-error="Vui lòng nhập password của bạn" required>
                                            <p class="help-block with-errors"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordDk2" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Confirm Password:</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                                            <input type="password" class="form-control" id="passwordDk2" placeholder="Nhập lại password của bạn" data-error="Vui lòng nhập lại password của bạn" required>
                                            <p class="help-block with-errors"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="userNameDk" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">User name:</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                                            <input type="text" class="form-control" id="userNameDk" placeholder="Nhập tên đăng nhập của bạn" data-error="Vui lòng nhập tên đăng nhập của bạn" required>
                                            <p class="help-block with-errors"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="gioiTih" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Giới tính:</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control">
                                                <option>Nam</option>
                                                <option>Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="dkiRight col-xs-6" class="col-sm-6 col-md-6 col-lg-6">
                                    <br>
                                    <div class="form-group">
                                        <label for="ngaySinh" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Ngày Sinh:</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <input type="date" class="form-control" id="ngaySinh" required>
                                            <p class="help-block with-errors"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sdt" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Số điện thoại:</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <input type="text" class="form-control" id="sdt" placeholder="Nhập số điện thoại của bạn" data-error="Vui lòng nhập số điện thoại của bạn" required>
                                            <p class="help-block with-errors"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Email:</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <input type="email" class="form-control" id="email" placeholder="Nhập email của bạn" data-error="Vui lòng nhập email của bạn" required>
                                            <p class="help-block with-errors"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cmnd" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">CMND:</label>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <input type="text" class="form-control" id="cmnd" placeholder="Nhập số CMND của bạn" data-error="Vui lòng nhập số CMND của bạn" required>
                                            <p class="help-block with-errors"> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn-success font" id="btnRegister">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu1">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li>
                             <a  href="/home" >
                            <span class="glyphicon glyphicon-home" aria-hidden="true"  style="font-size: 1.7rem"></span>
                            &nbsp;&nbsp;<b style="font-size: 1.7rem">Trang Chủ</b>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b   style="font-size: 1.7rem">Loại sản phẩm</b><b class="caret"></b></a>
                            <ul class="dropdown-menu loaiSP-content">
                               <li>
                                  <a href="/sanpham/San-pham-theo-hang/Gaming">Gaming</a>
                               </li>
                               <li>
                                  <a href="/sanpham/San-pham-theo-hang/Phổ thông">Phổ Thông</a>
                               </li>
                               <li>
                                   <a href="/sanpham/San-pham-theo-hang/Cao cấp">Cao Cấp</a>
                               </li>
                               <li>
                                   <a href="/sanpham/San-pham-theo-hang/Doanh nhân">Doanh Nhân</a>
                               </li>
                           </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b   style="font-size: 1.7rem">Nhà sản xuất</b><b class="caret"></b></a>
                            <ul class="dropdown-menu nsx-content">
                               <li>
                                  Asus
                               </li>
                               <li>
                                  Apple
                               </li>
                               <li>
                                   Acer
                               </li>
                               <li>
                                   Dell
                               </li>
                               <li>
                                   HP
                               </li>
                               <li>
                                   Lenovo
                               </li>
                               <li>
                                   Masstel
                               </li>
                               <li>
                                   MSI
                               </li>
                           </ul>
                        </li>
                         
                        <li><a href="/lien-he"><b  style="font-size: 1.7rem">Liên Hệ</b></a></li>
                         <li><a href="/dash-board"><b  style="font-size: 1.7rem">Dash Board</b></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        {{{body}}}
    </div>
    <footer>
        <footer class="main">
            <div class="footer-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 ">
                            <a href="/home">
                            <img src="/assets/image/logo2.png" alt="">
                        </a>
                            <br>
                            <br>
                            <span style="color: #fff;" class="glyphicon glyphicon-earphone" aria-hidden="true"> (028)22222222</span>
                            <br>
                            <br>
                            <span style="color: #fff;" class="glyphicon glyphicon-home" aria-hidden="true"> Quận Gò Vấp TP HCM</span>
                            <br>
                            <ul class="list list-social">
                                <li>
                                    <a href="#"> <img src="/assets/image/facebook.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"> <img src="/assets/image/googleplus.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"> <img src="/assets/image/youtube.png" alt=""></a>
                                </li>
                            </ul>
                            <p>Giao diện đơn giản và thân thiện với người dùng, Thiết kế màu sắc và cách hiển thị để tương thích với mọi sản phẩm. Tính năng sắp xếp nội dung tự động và hiển thị toàn bộ sản phẩm theo danh mục giúp khách hàng tiếp cận nhiều thông tin hơn khi truy cập.</p>
                        </div>
                        <div class="col-md-3">
                            <h4>ĐỂ LẠI LỜI NHẮN CHO CHÚNG TÔI</h4>
                            <div style="background: #f7f7f7; " class="box1">
                                <form action="">
                                    <div class="form-group mb10">
                                        <label>Nhập Lời Nhắn Của Bạn</label>
                                        <textarea name="name" class="form-control" rows="4" style="padding: 5px 5px 5px 5px;"></textarea>
                                    </div>
                                    <p class="mb10">Hãy giúp tôi phục vụ bạn tốt hơn</p>
                                    <button class="btn btn-primary btn-block"> Gửi tin nhắn</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>TÌM HIỂU VỀ CHÚNG TÔI</h4>
                            <ul class="list">
                                <li><a href="#">Phạm Quang Duy</a></li>
                                <li><a href="#">Nguyễn TIến Dũng</a></li>
                                <li><a href="#">Nguyễn Đức</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4>TIN MỚI NHẤT</h4>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </footer>
    <div id="goTop"><img src="/assets/image/goTop.png"></div>
    <script src="/assets/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/taiKhoan.js"></script>
    <script type="text/javascript" src="/assets/drop.js"></script>
    <script src="/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-validator-master/dist/validator.min.js"></script>
        {{{_sections.js}}}

</body>

</html>