  <div id="content">
            <div class="slider-wrapper">
                <div class="quangcao">
                    <img src="/assets/image/quangcao/quangcao.png">
                </div>
                <div class="bs-example">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators pos">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/assets/image/quangcao/qc1.png" alt="First Slide">
                            </div>
                            <div class="item">
                                <img src="/assets/image/quangcao/qc2.jpg" alt="Second Slide">
                            </div>
                            <div class="item">
                                <img src="/assets/image/quangcao/qc3.png" alt="Third Slide">
                            </div>
                            <div class="item">
                                <img src="/assets/image/quangcao/qc4.png" alt="Fourth Slide">
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    </div>
                </div>
                <div class="box">
                    <div class="box-heading">
                        <b><span>SẢN PHẨM MỚI</span></b>
                    </div>
                    <div class="box-content">
                        <div class="box-product">
                            <div>
                                <div class="image"><a href="thong-tin-chi-tiet-san-pham"><img src="/assets/image/sanpham/Lenovo-Miix-320-10ICR.png" alt=""></a></div>
                                <div class="name"><a href="thong-tin-chi-tiet-san-pham">Lenovo Miix 320 10ICR</a></div>
                                <div class="price"><a href="thong-tin-chi-tiet-san-pham"><span class="price-new"><b>6,190,000 &nbsp; đ</b></span></a></div>
                                <div class="describe">
                                    <p><strong>Màn Hình: 10.1 inch</strong></p>
                                    <p><strong>Pin: 2 cell</strong></p>
                                    <p><strong>Ram: 4GB</strong></p>
                                    <p><strong>HĐH: WINDOWS 10 Home</strong></p>
                                    <p><strong>Kết Nối: Wifi, Bluetooth</strong></p>
                                </div>
                                <div class="cart"><a href="#" class="myButton">Thêm giỏ hàng</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="box-heading">
                        <b><span>SẢN PHẨM BÁN CHẠY</span></b>
                    </div>
                    <div class="box-content">
                        <div class="box-product">
                            <div>
                                <div class="image"><a href="thong-tin-chi-tiet-san-pham"><img src="/assets/image/sanpham/asusx441.jpg" alt=""></a></div>
                                <div class="name"><a href="thong-tin-chi-tiet-san-pham">Asus X541NA-GO012T/Pentium N4200</a></div>
                                <div class="price"><a href="thong-tin-chi-tiet-san-pham"><span class="price-new"><b>8,590,000 &nbsp; đ</b></span></a></div>
                                <div class="describe">
                                    <p><strong>Màn Hình:&nbsp;14 inchHD LED blacklight</strong></p>
                                    <p><strong>CPU:&nbsp;&nbsp;intel, Core i3</strong></p>
                                    <p><strong>Ram:&nbsp;&nbsp;4GB, DDR4</strong></p>
                                    <p><strong>HĐH: &nbsp;&nbsp;Free DOS</strong></p>
                                    <p><strong>Nặng: &nbsp;&nbsp;2.09&nbsp;Kg</strong></p>
                                </div>
                                <div class="cart"><a href="#" class="myButton">Thêm giỏ hàng</a></div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="box-heading">
                        <b><span>SẢN PHẨM ĐƯỢC XEM NHIỀU NHẤT</span></b>
                    </div>
                    <div class="box-content">
                        <div class="box-product">
                            <div>
                                <div class="image"><a href="thong-tin-chi-tiet-san-pham"><img src="/assets/image/sanpham/Lenovo-Miix-320-10ICR.png" alt=""></a></div>
                                <div class="name"><a href="thong-tin-chi-tiet-san-pham">Lenovo Miix 320 10ICR</a></div>
                                <div class="price"><a href="thong-tin-chi-tiet-san-pham"><span class="price-new"><b>6,190,000 &nbsp; đ</b></span></a></div>
                                <div class="describe">
                                    <p><strong>Màn Hình: 10.1 inch</strong></p>
                                    <p><strong>Pin: 2 cell</strong></p>
                                    <p><strong>Ram: 4GB</strong></p>
                                    <p><strong>HĐH: WINDOWS 10 Home</strong></p>
                                    <p><strong>Kết Nối: Wifi, Bluetooth</strong></p>
                                </div>
                                <div class="cart"><a href="#" class="myButton">Thêm giỏ hàng</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>