{{#section 'css'}}
        <link rel="stylesheet" type="text/css" href="/assets/SanPhamTheoHang.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-hoa-don-hang.css">
    <style type="text/css">
    .stt{
        width: 10% !important;
    }
    .ten{
        width: 35% !important;
    }
    .slt{
        width: 26% !important;
    }
    .sldb{
        width: 26% !important;
        border-right: 0px !important;
    }
    </style>
{{/section}}

{{#section 'js'}}
    <script type="text/javascript " src="/assets/quan-li-hoa-don-hang.js "></script>
    <script type="text/javascript">
    $("#content-ChiTietHoaDon .ten").each(function(){
        $(this).click(function(){
             var html=$(this).find('p').html();
            $('#fs input[name="search"]').val(html);
            $('#fs').submit();
        });
    });

    </script>
{{/section}}

        <div class="link">  
        <a href="/dash-board"> <span>  DashBoard</span></a>            
        Quản lí loại sản phẩm
        </div>
        <div class="body2">
            <div id="leftBox" class="col-xs-3 col-sm-3 col-md-3 col-lg-3  ">
                <div class="title" id="btnSearch">Tìm kiếm nhà sản xuất theo &nbsp;&nbsp;&nbsp;&nbsp;
                    <img  src="/assets/image/kinhlup.png">
                </div>
                <div class="inBox">
                    <div class="inBox" style="padding-top: 10px;">
                        <form id="search-order" method="post" action="/dash-board/quanLiLSP/search">
                            
                            <input type="text" name="search" placeholder="nhập thông tin tìm kiếm">
                        </form>
                    </div>
                </div>
                 <a href="/dash-board/quanLiLSP" style="color: black;clear: both;"> 
                 <div class="title"  id="btnAll">Tất cả</div>
             </a>
            </div>
            <form id="fs" method="post" action="/dash-board/quan-li-hang-hoa/search">
                <input type="hidden" name="search" >
            </form>
            <div id="rightBox">
                   <div class="title ">Danh sách loại sản phẩm phù hợp kết quả tìm kiếm</div> 
                    <ul id="listName">
                        <li class="stt">STT</li>
                        <li class="ten" title="Tên LSP"><p>Tên loại sản phẩm</p></li>
                        <li class="slt" title="Số lượng sản phẩm tồn"><p>Số lượng SP tồn</p></li>
                        <li class="sldb" title="Số lượng sản phẩm đã bán "><p>Số lượng SP đã bán</p></li>
                    </ul>
                    {{#each dt}}
                    <ul id="content-ChiTietHoaDon">
                        <li class="stt">{{inc @index}}</li>
                            <li class="ten" ><a><p>{{lsp}}</p></a></li>
                            <li class="slt"><p>{{slt}}</p></li>
                            <li class="sldb" ><p>{{sldb}}</p></li>
                    </ul>
                    {{/each}}
            </div>
            
        </div>