{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assets/SanPhamTheoHang.css">
{{/section}}

{{#section 'js'}}
   <script type="text/javascript" src="/assets/thongTinChiTietSanPham.js">
    </script>
{{/section}}

    </div>
    <div id="Brand-goods">
        <div id="Standard" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="border-bottom: none;">
            <p><b>Bộ lọc</b></p>
            <div id="name">
                <li>
                    <b>Hãng sản xuất</b>
                    <span class="glyphicon glyphicon-plus" style="float: right;"></span>
                </li>
                <div id="standard-option">
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>Tất cả</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>MSI</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>MASSTEL</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>LENOVO</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>HP</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>DELL</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>ACER</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>APPLE</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>ASUS</span>
                    </label>
                </div>
            </div>
             <div id="gender">
                <li>
                    <b>Loại sản phẩm</b>
                    <span class="glyphicon glyphicon-plus" style="float: right;"></span>
                </li>
                <div id="standard-option">
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>LAPTOP GAMING - ĐỒ HOẠ</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>SẢN PHẨM 2 TRONG 1</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>LAPTOP SINH VIÊN - VĂN PHÒNG</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>DOANH NHÂN</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>5 - 10 triệu</span>
                    </label>
                </div>
            </div>
            <div id="pride">
                <li>
                    <b>Mức giá</b>
                    <span class="glyphicon glyphicon-plus" style="float: right;"></span>
                </li>
                <div id="standard-option">
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>Tất cả</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>trên 20 triệu</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>15 - 20 triệu</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>10 - 25 triệu</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>5 - 10 triệu</span>
                    </label>
                </div>
            </div>
            <div id="cpu">
                <li>
                    <b>CPU</b>
                    <span class="glyphicon glyphicon-plus" style="float: right;"></span>
                </li>
                <div id="standard-option">
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>Tất cả</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>Intel core I3</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>Intel core I5</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>Intel core I7</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>Intel core IM</span>
                    </label>
                </div>
            </div>
            <div id="ram">
                <li>
                    <b>Ram</b>
                    <span class="glyphicon glyphicon-plus" style="float: right;"></span>
                </li>
                <div id="standard-option">
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>Tất cả</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>4 Gb</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>8 Gb</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>16 Gb</span>
                    </label>
                </div>
            </div>
            <div id="graphic-card">
                <li>
                    <b>Card đồ họa</b>
                    <span class="glyphicon glyphicon-plus" style="float: right;"></span>
                </li>
                <div id="standard-option">
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>Tất cả</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>NVIDIA Gerforce Series</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>AMD Series</span>
                    </label>
                    <label id="pick">
                        <input type="checkbox" name="lappride">
                        <span>Intel HD Graphic</span>
                    </label>
                </div>
            </div>
        </div>
        <div id="Items" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div id="Items-Content">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="image"><a href="thong-tin-chi-tiet-san-pham"><img src="/assets/image/sanpham/Dell-Ins-N5378.png" alt=""></a></div>
                    <div class="name"><a href="thong-tin-chi-tiet-san-pham">Dell Ins N5378</a></div>
                    <div class="price"><a href="thong-tin-chi-tiet-san-pham"><span class="price-new"><b>23,990,000 &nbsp; đ</b></span></a></div>
                    <div class="describe">
                        <p><strong>Màn Hình: 13 inch FullHD</strong></p>
                        <p><strong>CPU: Intel, Core i7, 2.70 GHz</strong></p>
                        <p><strong>Ram: 8GB, DDR4, 2133MHz</strong></p>
                        <p><strong>HĐH: Window 10</strong></p>
                        <p><strong>Nặng: 1.6 Kg</strong></p>
                    </div>
                    <div class="cart"><a href="#" class="myButton">Thêm giỏ hàng</a></div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="image"><a href="thong-tin-chi-tiet-san-pham2"><img src="/assets/image/sanpham/Dell-Ins-N5378.png" alt=""></a></div>
                    <div class="name"><a href="thong-tin-chi-tiet-san-pham2">Dell Ins N5378</a></div>
                    <div class="price"><a href="thong-tin-chi-tiet-san-pham2"><span class="price-new"><b>23,990,000 &nbsp; đ</b></span></a></div>
                    <div class="describe">
                        <p><strong>Màn Hình: 13 inch FullHD</strong></p>
                        <p><strong>CPU: Intel, Core i7, 2.70 GHz</strong></p>
                        <p><strong>Ram: 8GB, DDR4, 2133MHz</strong></p>
                        <p><strong>HĐH: Window 10</strong></p>
                        <p><strong>Nặng: 1.6 Kg</strong></p>
                    </div>
                    <div class="cart"><a href="#" class="myButton">Thêm giỏ hàng</a></div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="image"><a href="thong-tin-chi-tiet-san-pham"><img src="/assets/image/sanpham/Dell-Ins-N5378.png" alt=""></a></div>
                    <div class="name"><a href="thong-tin-chi-tiet-san-pham">Dell Ins N5378</a></div>
                    <div class="price"><a href="thong-tin-chi-tiet-san-pham"><span class="price-new"><b>23,990,000 &nbsp; đ</b></span></a></div>
                    <div class="describe">
                        <p><strong>Màn Hình: 13 inch FullHD</strong></p>
                        <p><strong>CPU: Intel, Core i7, 2.70 GHz</strong></p>
                        <p><strong>Ram: 8GB, DDR4, 2133MHz</strong></p>
                        <p><strong>HĐH: Window 10</strong></p>
                        <p><strong>Nặng: 1.6 Kg</strong></p>
                    </div>
                    <div class="cart"><a href="#" class="myButton">Thêm giỏ hàng</a></div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="image"><a href="thong-tin-chi-tiet-san-pham2"><img src="/assets/image/sanpham/Dell-Ins-N5378.png" alt=""></a></div>
                    <div class="name"><a href="thong-tin-chi-tiet-san-pham2">Dell Ins N5378</a></div>
                    <div class="price"><a href="thong-tin-chi-tiet-san-pham2"><span class="price-new"><b>23,990,000 &nbsp; đ</b></span></a></div>
                    <div class="describe">
                        <p><strong>Màn Hình: 13 inch FullHD</strong></p>
                        <p><strong>CPU: Intel, Core i7, 2.70 GHz</strong></p>
                        <p><strong>Ram: 8GB, DDR4, 2133MHz</strong></p>
                        <p><strong>HĐH: Window 10</strong></p>
                        <p><strong>Nặng: 1.6 Kg</strong></p>
                    </div>
                    <div class="cart"><a href="#" class="myButton">Thêm giỏ hàng</a></div>
                </div>
            </div>
            <div style="width: 100%; display: inline-block; margin: 0 auto; text-align: center;">
                 <div id="inner">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="San-pham-theo-hang">1</a></li>
                        <li><a href="San-pham-theo-hang">2</a></li>
                        <li><a href="San-pham-theo-hang">3</a></li>
                        <li><a href="San-pham-theo-hang">4</a></li>
                        <li><a href="San-pham-theo-hang">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
           
        </div>