
{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-hang-hoa.css">
    <link rel="stylesheet" type="text/css" href="/assets/SanPhamTheoHang.css">
    <link rel="stylesheet" type="text/css" href="/assets/calendar.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-hoa-don-hang.css">
    <link rel="stylesheet" type="text/css" href="/assets/thong-tin-chi-tiet-hoa-don-hang.css">

{{/section}}

{{#section 'js'}}
    <script type="text/javascript " src="/assets/quan-li-hoa-don-hang.js "></script>
    <script type="text/javascript " src="/assets/thong-tin-chi-tiet-hoa-don-hang.js "></script>
{{/section}}

        <div class="link">
            <a href="/dash-board"> <span>  DashBoard</span></a> Quản lí sản phẩm
        </div>
        <div class="line"></div>
        <div class="row">
            <div id="leftBox" class="col-xs-3 col-sm-3 col-md-3 col-lg-3  ">
               
             
                <div class="title">Tìm kiếm sản phẩm theo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/image/kinhLup.png"></div>

                <div class="inBox">
                    <div>
                        <label>
                            <span> Mã sản phẩm</span>
                            <input type="checkbox" name="maSanPham" class="extraCheck">
                        </label>
                        <input type="text" name="maSanPham-content" placeholder="Nhập mã sản phẩm">
                    </div>
                    <div>
                        <label> <span>Tên sản phẩm</span>
                            <input type="checkbox" name="tenSanPham" class="extraCheck">
                        </label>
                        <input type="text" name="tenSanPham-content" placeholder="Nhập tên sản phẩm">
                    </div>
                    <div>
                        <label> <span>Loại sản phẩm</span>
                            <input type="checkbox" name="loaiSanPham" class="extraCheck">
                        </label>
                        <input type="text" name="loaiSanPham-content" placeholder="Nhập loại sản phẩm">
                    </div>
                    <div>
                        <label> <span>Xuất xứ sản phẩm</span>
                            <input type="checkbox" name="xuatXuSanPham" class="extraCheck">
                        </label>
                        <input type="text" name="xuatXuSanPham-content" placeholder="Nhập xuất xứ sản phẩm">
                    </div>
                    <div>
                        <label> <span>Nhà sản xuất sản phẩm</span>
                            <input type="checkbox" name="nsxSanPham" class="extraCheck">
                        </label>
                        <input type="text" name="nsxSanPham-content" placeholder="Nhập nhà sản xuất sản phẩm">
                    </div>
                    <div>
                        <label> <span>Tất cả</span>
                            <input type="checkbox" name="tc" class="extraCheck">
                        </label>
                    </div>
                </div>

                 <div class="title">Thêm sản phẩm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/image/add.png"></div>
            </div>

              <div id="rightBox" >
                    <div class="title ">Danh sách sản phẩm phù hợp kết quả tìm kiếm</div> 
                <ul id="listName">
                    <li class="msp" title="Mã SP"><p>Mã SP</p></li>
                    <li class="tsp" title="Tên sản phẩm"><p>Tên sản phẩm</p></li>
                    <li class="asp" title="Ảnh"><p>Ảnh</p></li>
                    <li class="sltk" title="SL tồn kho"><p>SL tồn kho</p></li>
                    <li class="sldb" title="SL đã bán"><p>SL đã bán</p></li>
                    <li class="tln" title="Tổng lợi nhuận"><p>Tổng lợi nhuận</p></li>
                </ul>
                <ul id="content-ChiTietHangHoa">
                    <ul>
                    <li class="msp"><p><a href="#">001</a> </a</p></li>
                    <li class="tsp"><p></p></li>
                    <li class="asp">
                       <img src="/assets/image/LaptopAsus/1.jpg">
                    </li>
                    <li class="sltk"><p></p></li>
                    <li class="sldb"><p></p></li>
                     <li class="tln"><p></p></li>
                    </ul>
                     
                </ul>
                

                    
            </div>

        </div>