{{#section 'css'}}
        <link rel="stylesheet" type="text/css" href="/assets/SanPhamTheoHang.css">
    <link rel="stylesheet" type="text/css" href="/assets/quan-li-hoa-don-hang.css">
{{/section}}

{{#section 'js'}}
    <script type="text/javascript " src="/assets/quan-li-hoa-don-hang.js "></script>
{{/section}}

        <div class="link">
           
               <a href="/dash-board"> <span>  DashBoard</span></a>
             
          Quản lí hóa đơn
           
          
        </div>
        <div class="body2">
            <div id="leftBox" class="col-xs-3 col-sm-3 col-md-3 col-lg-3  ">
                <div class="title">Tìm kiếm hóa đơn theo &nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/image/kinhLup.png"></div>
                <div class="inBox">
                    <div>
                        <label>
                            <span> Mã hóa đơn</span>
                            <input type="checkbox" name="maHoaDon" class="extraCheck">
                        </label>
                        <input type="text" name="maHoaDon-content" placeholder="Nhập mã hóa đơn">
                    </div>
                    <div>
                        <label>
                            <span>Tài khoản KH</span>
                            <input type="checkbox" name="taiKhoanKh" class="extraCheck">
                        </label>
                        <input type="text" name="taiKhoanKh-content" placeholder="Nhập tài khoản KH">
                    </div>
                    <div>
                        <label>
                            <span>Tên khách hàng</span>
                            
                            <input type="checkbox" name="tenKhachHang" class="extraCheck">
                        </label>
                        <input type="text" name="tenKhachHang-content" placeholder="Nhập tên khách hàng">
                    </div>
                    <div>
                        <label>
                            <span>Ngày đặt hàng</span>
                            <input type="checkbox" name="ngayDatHang" class="extraCheck">
                        </label>
                        <label id="tuNgay">
                            <span> Từ ngày</span> <input type="date" name="ngayDatHangTuNgay-content">
                        </label>
                         <label id="denNgay"> 
                            <span>
                                   Đến ngày</span>
                                    <input type="date" name="ngayDatHangDenNgay-content">
                        </label>
                    
                    </div>
                    <div>
                        <label> <span>Tình trạng</span>
                            <input type="checkbox" name="tinhTrang" class="extraCheck">
                        </label>
                        <select id="tinhTrang">
                            <option class="chuaGiaoHang">
                                 Chưa giao hàng
                               
                            </option>
                            <option  class="dangGiaoHang">
                              Đang giao hàng
                            </option>
                            <option class="daGiaoHang">
                                Đã giao hàng
                            </option>
                            <option class="daHuy">
                                Đã hủy
                            </option>
                        </select>
                    </div>
                    <div>
                        <label> <span>Tên sản phẩm</span>
                            <input type="checkbox" name="tenSanPham" class="extraCheck">
                        </label>
                        <input type="text" name="tenSanPham-content" placeholder="Nhập tên sản phẩm">
                    </div>

                    <div>
                        <label> <span>Loại sản phẩm</span>
                            <input type="checkbox" name="loaiSanPham" class="extraCheck">
                        </label>
                        <input type="text" name="loaiSanPham-content" placeholder="Nhập loại sản phẩm">
                    </div>
                    <div>
                        <label> <span>Xuất xứ sản phẩm</span>
                            <input type="checkbox" name="xuatXuSanPham" class="extraCheck">
                        </label>
                        <input type="text" name="xuatXuSanPham-content" placeholder="Nhập xuất xứ sản phẩm">
                    </div>
                    <div>
                        <label> <span>Nhà sản xuất sản phẩm</span>
                            <input type="checkbox" name="nsxSanPham" class="extraCheck">
                        </label>
                        <input type="text" name="nsxSanPham-content" placeholder="Nhập nhà sản xuất sản phẩm">
                    </div>
                     <div>
                        <label> <span>Tất cả</span>
                            <input type="checkbox" name="tc" class="extraCheck">
                        </label>
                    </div>
                </div>
            </div>
            <div id="rightBox">
                <div class="title ">Danh sách sản phẩm phù hợp kết quả tìm kiếm</div> 
                <ul id="listName">
                    <li class="mhd" title="Mã hóa đơn"><p>Mã hóa đơn</p></li>
                    <li class="tkkh" title="Tài khoản KH"><p>Tài khoản KH</p></li>
                    <li class="tkh" title="Tên khách hàng"><p>Tên khách hàng</p></li>
                    <li class="ndh" title="Ngày đặt hàng"><p>Ngày đặt hàng</p></li>
                    <li class="tt" title="Tình trạng"><p>Tình trạng</p></li>
                </ul>
                <ul id="content-ChiTietHoaDon">
                    <ul>
                     <li class="mhd" title="Mã hóa đơn"><p><a href="#">001</a> </a></p></li>
                     <li class="tkkh" title="Tài khoản KH"><p>Tài khoản KH</p></li>
                    <li class="tkh" title="Tên khách hàng"><p>Tên khách hàng</p></li>
                    <li class="ndh" title="Ngày đặt hàng"><p>Ngày đặt hàng</p></li>
                    <li class="tt" title="Tình trạng"><p>Tình trạng</p></li>
                    </ul>  
                </ul>
                
            </div>
        </div>