
#modalForm{
	display:none ;
	position: fixed;
	z-index: 2;
	width: 400px;
	height: 280px;
	left: 50%;
    transform: translateX(-50%);
	background-color: #FFFFFF;
	cursor: default;
	-webkit-box-shadow: -3px 4px 18px 2px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 4px 18px 2px rgba(0,0,0,0.75);
box-shadow: -3px 4px 18px 2px rgba(0,0,0,0.75);
border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;

}
.font{
	font-family: 'Open Sans';
        font-size: 16pt;
        font-weight: 500;
}
#navTaiKhoan{
	border-bottom: 1px solid #BDB7B7;
	padding-top:5px;
}
#dangNhap{
	padding-top:7px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 3px;
	color: green;
	background-color: #F1F1F1;
	border-radius: 6px 0px 0px 0px;
-moz-border-radius: 6px 0px 0px 0px;
-webkit-border-radius: 6px 0px 0px 0px;

}
#dangNhapContent button{
margin-left:20px;
color: black;
font-weight:600;
border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
}
#dangKi{
	padding-left: 20px;
		border-radius: 6px 6px 0px 0px;
-moz-border-radius: 6px 6px 0px 0px;
-webkit-border-radius: 6px 6px 0px 0px;
}
#dangKiContent{
	display: none;
}
#dangKiContent button{
	margin-left:40px;
color: black;
font-weight:600;
border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
}
#closeTaiKhoan{
	float: right;
	margin-top:-5px;
	margin-right: 0px;
	font-size: 20pt;
	font-weight: 900;
	color: grey;
	padding-right: 15px;
	height: 35px;
	padding-left: 10px;
		border-radius: 0px 6px 0px 0px;
-moz-border-radius: 0px 6px 0px 0px;
-webkit-border-radius: 0px 6px 0px 0px;
	
	
	
}
#closeTaiKhoan:hover{
	background-color: #F1F1F1;
color:red;
}

#btnRegister{
position: absolute;
top:400px;
left:530px;
}
#btnLogin{
	position: absolute;
	top:210px;
	left:270px;
}
.pos{
	z-index: 1 ;
}